<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    {%if messages%}
        {%for message in messages%}
    <p>{{message}}</p>
        {%endfor%}
    {%endif%}

    <h3>Register Here</h3>
    <form action="/register" method="POST">
        {%csrf_token%}
        <input type="text" name="name" placeholder="Enter your name"><br>
        <input type="text" name="username" placeholder="Enter your username here"><br>
        <input type="text" name="pw" placeholder="Enter your password"><br>
        <input type="text" name="confirm_pw" placeholder="Confirm password"><br>
        <input type="submit" value="Register">
    </form>
    
    <h3>Login here</h3>
    
    <form action="/login" method="POST">
    
        {%csrf_token%}
    
    <input type="text" name="username" placeholder="Enter your username">
    <input type="text" name="pw" placeholder="Enter your password">
    <input type="submit" value="Login">

    </form>
</body>
</html>